/* all of this just to get footer position at the end of the page */
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
}
#header {
   padding: 1em;
}
main {
   padding: 0;
   padding-bottom: 7em;	/* more than the height of the footer, to leave some space when screen full */
}
footer {
   position: absolute;
   bottom: 0;
   display: table;
   padding-left: 1%;
   padding-right: 1%;
   width: 98%;
   height: 4em;		/* Height of the footer */
   background: #6cf;
}



h1 {
	margin: 0;
}

label {
	display: block;
	font-family: monospace;
	font-size: x-large;
	margin: 3px;
}
input, select {
	margin-left:  0.5em;
	margin-right: 0.5em;
	margin-top: 3px;
	font-size: x-large;
}
input[type=number] {
	width: 5em;
}

table {
	margin-top: 1em;
	border-collapse: collapse;
	margin: 0.5em;
}


tr:hover td {
	background: #d0dafd;
	color: #339;
}

th {
	font-weight: bold;
	text-align: center;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
	padding: 2px;
}

td {
	text-align: right;
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	background: #e8edff;
	color: #669;
	padding: 4px;
}

.plus {
	color: green;
}

.minus {
	color: red;
}

.naziv {
	width: 30%;
}

.notes {
	word-wrap: break-word;
}

.total {
	font-weight: bold;
}

.detalji0, .brojilo0 {
	display: none;
}
.detalji1 {
	display: table-row;
}

.brojilo1 {
	display: inline;
}

/* mobile view has too little space for all the data */
@media (max-width: 60em) {
	.naziv {
		font-size: x-small;
		width: 25%;
	}
	table {
		margin: 0;
	}
}
