th {
	font-weight: bold;
}

label {
	display: block;
}
input {
	margin-left: 2em;
}

table {
	margin-top: 1em;
}

td {
	  text-align: right;
}

/* all of this just to get footer position at the end of the page */
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
}
#header {
   padding: 1em;
}
#body {
   padding: 1em;
   padding-bottom: 5em;	/* more than the height of the footer, to leave some space when screen full */
}
#footer {
   position: absolute;
   bottom: 0;
   padding-left: 1%;
   padding-right: 1%;
   width: 98%;
   height: 3em;		/* Height of the footer */
   background: #6cf;
}
